.back-img {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    background-image: url(../image/style_background.png);
  }